p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:hover{
    border: 3px solid #777777;
    border-radius:5px;
}


.change{
    box-sizing: border-box;
    background-color: #777777;
    border: 2px solid #000000;
    text-align:center;
    width:4%;
    padding: 1% 0;
    margin:15% auto;
    border-radius: 100%;
    transition-property: transform,padding,border-radius,background-color;
    transition-duration: 10s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.change:hover{
    transform: rotate(360000deg);
    background-color:#8a2be2;
    width:200px;
    padding: 88px 0;
    border-radius: 0;
}